# qemu config file

[drive]
  if = "virtio"
  file = "{{ item.role }}-{{ item.id }}.qcow2"

[drive]
  if = "virtio"
  file = "{{ item.role }}-{{ item.id }}.cloud-init.img"
  format = "raw"

[device]
  driver = "virtio-net"
  netdev = "{{ network.subnet.name }}-{{ item.role }}-{{ item.id }}"
  mac = "{{ item.nics[0].mac }}"

[netdev "{{ network.subnet.name }}-{{ item.role }}-{{ item.id }}"]
  type = "tap"
  ifname = "{{ item.nics[0].name }}"
  script = "no"
  downscript = "no"

[machine]
  accel = "kvm"
  graphics = "off"

[memory]
  size = "{{ item.memory | default('2G') }}"
