#jinja2: lstrip_blocks: "True"
{%- set network=item -%}
<network>
    <name>k8s</name>
    <bridge name="{{ network.name }}"/>
    {%- for dev in network.forward %}
    <forward mode="route" dev="{{ dev.dev }}"/>
    {%- endfor %}
    <ip address="{{ network.ip }}" netmask="{{ network.netmask }}">
        <dhcp>
            <range start="{{ network.dhcp.start }}" end="{{ network.dhcp.end }}"/>
        </dhcp>
    </ip>
</network>