#jinja2: lstrip_blocks: "True"
<network>
    <name>k8s</name>
    <bridge name="{{ vnet.name }}"/>
    {% for dev in vnet.forward %}
    <forward mode="route" dev="{{ dev.dev }}"/>
    {% endfor %}
    <ip address="{{ vnet.ip }}" netmask="{{ vnet.netmask }}">
        <dhcp>
            <range start="{{ vnet.dhcp.start }}" end="{{ vnet.dhcp.end }}"/>
        </dhcp>
    </ip>
</network>